/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
   width: 1200px;
   padding: 0 15px;
   margin: 0 auto;

    @media screen and (max-width:1200px) {
        width: 768px;
    }

    @media screen and (max-width:768px) {
        width: 480px;
    }
}
